#member {
  background-color: #f9f9f9;
}

#member hr.star-primary:after {
  color: #888;
  background-color: #f9f9f9;
}

.user_list {
  position: relative;
  border: solid 1px #ddd;
  border-radius: 3px;
  background-color: white;
  margin-top: 24px;
}

.user_list .user_image {
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(img/prof/yui_1.png);
  width: 120px;
  height: 140px;
  background-size: cover;
  background-position: center;
}

.user_list .info {
  width: 100%;
  height: 140px;
  padding-left: 130px;
  padding-top: 8px;
}

.user_list .info .belong {
  position: absolute;
  right: 8px;
  top: 8px;
}

.user_list .info .belong svg {
  width: auto;
  height: 24px;
}

.user_list .info .remark {
  background-color: red;
  display: inline-block;
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 2px;
  margin-bottom: 8px;
}

.user_list .info .remark.center_leader {
  background-color: #1e2087;
  color: white;
}

.user_list .info .remark.sub_center_leader {
  background-color: #405795;
  color: white;
}

.user_list .info .remark.group_leader_g1 {
  background-color: #e1b22c;
  color: white;
}

.user_list .info .remark.sub_group_leader_g1 {
  background-color: #e1b22c;
  color: white;
}

.user_list .info .remark.group_leader_g2 {
  background-color: #d38191;
  color: white;
}

.user_list .info .remark.sub_group_leader_g2 {
  background-color: #d38191;
  color: white;
}

.user_list .info .remark.group_leader_g3 {
  background-color: #5185be;
  color: white;
}

.user_list .info .remark.sub_group_leader_g3 {
  background-color: #5185be;
  color: white;
}

.user_list .info .remark.group_leader_g4 {
  background-color: #aa6da6;
  color: white;
}

.user_list .info .remark.sub_group_leader_g4 {
  background-color: #aa6da6;
  color: white;
}

.user_list .info .remark.group_leader_g5 {
  background-color: #ae6058;
  color: white;
}

.user_list .info .remark.sub_group_leader_g5 {
  background-color: #ae6058;
  color: white;
}

.user_list .info .remark.group_leader_g6 {
  background-color: #5f9261;
  color: white;
}

.user_list .info .remark.sub_center_leader_g6 {
  background-color: #5f9261;
  color: white;
}


.user_list .info h1 {
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 0px;
}

.user_list .info .position {
  color: #777;
  font-size: 12px;
}

.user_list .content {
  padding: 24px;
  border-top: 1px solid #ddd;
}

.user_list .content p {
  font-size: 14px;
}

.tags .tag {
  display: inline-block;
  background: #e3eff1;
  padding: 4px 8px;
  font-size: 10px;
  font-weight: bold;
  color: #4982a7;
}
